{{header}}

<main>
    <div class="blog-post">
        <article>
            <header class="post-header">
                <h1>{{title}}</h1>
                <div class="post-meta">
                    <time>{{date}}</time>
                    <span class="author">{{author}}</span>
                </div>
            </header>
            
            <div class="post-content">
                {{content}}
            </div>
        </article>

        {{convertkit}}
    </div>
</main>

{{footer}} 